.carousel {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.carousel-image {
    display: none;
    width: 100%;
    height: 100%;
}

.carousel-image.active {
    display: block;
}

/* Estilo para os pontos */
.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--cor-verde-);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-dot.active {
    background-color: var(--cor-dourado);
}